@mixin apply {
  .markdown-renderer {
    font-size: var(--openbitfun-type-flow-control-font-size);
    font-weight: var(--openbitfun-type-flow-control-font-weight);

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-size: var(--openbitfun-type-flow-control-font-size);
      font-weight: var(--openbitfun-type-label-selected-font-weight);
    }

    strong,
    em {
      font-weight: var(--openbitfun-type-label-lg-font-weight);
    }
  }
}
